#about {
  background: var(--white);
  color: var(--black);
  position: relative;
}

.about-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: var(--soft-square-radius);
  align-content: center;
  max-width: 1000px;
  margin: auto;
}

.about__details {
  background: var(--black);
  color: var(--white);
}

.about__images {
  background: var(--secondary-color);
  border-radius: var(--soft-top-radius);
  overflow: hidden;
}

.about__images figure {
  margin: 0;
}

.about__images img {
  display: block;
  margin: auto;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about__images figcaption {
  padding: var(--card-padding);
  font-weight: bold;
}

.about__details {
  padding: var(--card-padding);
  display: flex;
  border-radius: var(--soft-bottom-radius);
}

.about__details p {
  font-size: 1.25rem;
  line-height: var(--paragraph-line-height);
}

.about__details > ul ul {
  padding-inline-start: 40px;
}

.about__details > ul > li > ul > li {
  list-style-type: disc;
}

@media only screen and (min-width: 900px) {
  .about-wrapper {
    grid-template-columns: 1fr .75fr;
    gap: 25px;
  }
  .about__images,
  .about__details {
    border-radius: var(--soft-square-radius);
  }
}

.about__links {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.about__links a {
  text-decoration: none;
}

.about__links--external > ul {
  display: flex;
  gap: 25px;
}

.about__links--external a {
  color: black;
}

.about__links--external a:hover {
  color: var(--highlight-color);
}
