.hamburger-btn {
  background: var(--black);
  padding: 0.25rem;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  margin: var(--nav-padding);
  z-index: 99;
}

.hamburger-btn > span {
  background: var(--highlight-color);
  height: 3px;
  width: 35px;
  display: block;
  margin: 5px 0;
}

.expanded-top {
  transform: translatey(8px) rotate(45deg);
}

.expanded-bottom {
  transform: translatey(-8px) rotate(-45deg);
}

.expanded-middle {
  animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-110px);
  }
}
