.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.hero__text {
  text-align: center;
}

.hero__text > p {
  font-size: 1.25rem;
  opacity: 0.7;
}

@media only screen and (min-width: 900px) {
  h1 {
    font-size: 3.5rem;
  }
  .hero__text > p {
    font-size: 1.75rem;
  }
}
