.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.hero__text {
  text-align: center;
}

.hero__text > p {
  font-size: 1.75rem;
  opacity: .7;
}

