.mobile-nav {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: var(--nav-padding);
  padding-top: 100px;
  gap: 25px;
  font-size: 1.75rem;
  background: rgb(19, 19, 19);
  margin: 0;
}

/* Animation for MobileNav component entrance */
.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* Hides an open mobile nav menu when the screen width exceeds 900px */
@media only screen and (min-width: 900px) {
  .mobile-nav {
    display: none !important;
  }
}
