nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

nav li {
  list-style-type: none;
}

nav a:hover {
  color: var(--highlight-color);
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links--external > i:last-child {
  font-size: 11px;
  position: relative;
  top: 3px;
  left: 5px;
}

@media only screen and (min-width: 900px) {
  .hamburger-btn {
    display: none;
  }
  .desktop-nav {
    display: flex;
  }
}

@media only screen and (max-width: 900px) {
  .hamburger-btn {
    display: block;
  }
  .desktop-nav {
    display: none;
  }
}
