.portfolio {
  position: relative;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

@media only screen and (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  background: var(--white);
  color: var(--black);
  border-radius: var(--soft-square-radius);
}

.card img {
  height: 25vh;
  width: 100%;
  object-fit: cover;
  border-radius: var(--soft-top-radius);
}

.card__details {
  padding: var(--card-padding);
}

.card a {
  color: var(--link-color);
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

.card a:hover {
  border-bottom: 3px solid var(--link-color);
}

.portfolio .external-icon {
  top: 0;
}
