@import url("./styles/app.css");
@import url("./styles/header.css");
@import url("./styles/navbar.css");
@import url("./styles/desktop-nav.css");
@import url("./styles/hamburger-button.css");
@import url("./styles/mobile-nav.css");
@import url("./styles/hero.css");
@import url("./styles/hero-background.css");
@import url("./styles/about.css");

*,
**::before,
**::after {
  box-sizing: border-box;
}

html {
  font-size: 110%;
  scroll-behavior: smooth;
  /* Fonts */
  --header-font: "Titillium Web", sans-serif;
  --body-font: "Roboto", sans-serif;
  /* Colors */
  --white: #fff;
  --black: #000;
  --primary-color: #8b87dc;
  --primary-color--dark: #736ed5;
  --secondary-color: #d8dc87;
  --secondary-color--dark: #d0d56e;
  /* Spacing */
  --general-padding: 0.5vh 0;
  --nav-padding: 2vh 18%;
  --header-padding: 0 18%;
  --section-padding: 4vh 18%;
  --radius: 30px;
  --soft-square-radius: 10px;
}

body {
  background: var(--black);
  color: var(--white);
  font-family: var(--body-font);
}

section {
  padding: var(--section-padding);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  font-weight: bold;
}

h1,
p {
  margin: 0;
  padding: var(--general-padding);
}

h1,
h2 {
  text-align: center;
}

h1 {
  text-shadow: 0 0 5px var(--black);
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  margin-top: 0;
  margin-bottom: 1vh;
  font-size: 1.3rem;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: var(--general-padding);
}

a {
  color: var(--white);
}

a:focus {
  border-bottom: 1px solid var(--white);
}

button {
  border: none;
  cursor: pointer;
}

/* Super visible focus styling for buttons & links */

button:focus,
.btn:focus,
a:focus {
  outline: 3px dashed orange;
  outline-offset: 10px;
}

.btn {
  margin: 30px 0;
  padding: 10px 25px;
  border-radius: 4px;
  display: inline-block;
  animation: bouncy 6s infinite linear;
  position: relative;
}

.btn-primary {
  background: var(--primary-color);
}

.btn-primary:hover {
  background: var(--primary-color--dark);
}

@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

.hidden {
  display: none !important;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 1000px) {
  html {
    --nav-padding: 2vh 8%;
    --header-padding: 0 8%;
    --section-padding: 8vh 8%;
    font-size: 0.95rem;
  }
}

@media only screen and (max-width: 500px) {
  html {
    --nav-padding: 2vh 4%;
    --header-padding: 0 4%;
    --section-padding: 8vh 4%;
  }
}
