@import url("./styles/header.css");
@import url("./styles/navbar.css");
@import url("./styles/desktop-nav.css");
@import url("./styles/hamburger-button.css");
@import url("./styles/mobile-nav.css");
@import url("./styles/hero.css");
@import url("./styles/hero-background.css");
@import url("./styles/about.css");
@import url("./styles/portfolio.css");
@import url("./styles/contact.css");
@import url("./styles/footer.css");

*,
**::before,
**::after {
  box-sizing: border-box;
}

html {
  font-size: 120%;
  scroll-behavior: smooth;
  /* Fonts */
  --header-font: "Titillium Web", sans-serif;
  --body-font: "Roboto", sans-serif;
  /* Colors */
  --white: #fff;
  --black: #000;
  --primary-color: #61a69a;
  --primary-color--dark: #3B665F;
  --secondary-color: #ffe066;
  --alt-color: #2f3534;
  --highlight-color: #ed7343;
  --link-color: #2997ff;
  /* Spacing */
  --general-padding: 0.5vh 0;
  --nav-padding: 2vh 18%;
  --header-padding: 0 18%;
  --section-padding: 8.5vh 18%;
  --card-padding: 25px;
  --soft-square-radius: 10px;
  --soft-top-radius: 10px 10px 0 0;
  --soft-bottom-radius: 0 0 10px 10px;
  --paragraph-line-height: 1.5;
}

body {
  background: var(--black);
  color: var(--white);
  font-family: var(--body-font);
}

section {
  padding: var(--section-padding);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  font-weight: bold;
}

h1,
p {
  margin: 0;
  padding: var(--general-padding);
}

h1 {
  font-size: 2.5rem;
  line-height: 0.95;
}

h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #000;
  max-width: 350px;
  background: var(--secondary-color);
  border-radius: var(--soft-square-radius);
  margin: 45px auto;
  margin-bottom: calc(8.5vh); /* Matches section padding spacing */
}

h3 {
  margin-bottom: 1vh;
  line-height: 0.98;
}

h3 {
  margin-top: 0;
  font-size: 1.3rem;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: var(--general-padding);
}

a {
  color: var(--white);
  cursor: pointer;
  transition: 0.5s all;
}

.external-icon {
  font-size: 11px;
  position: relative;
  top: 3px;
  left: 5px;
}

button {
  border: none;
  cursor: pointer;
}

/* Super visible focus styling for buttons & links */

button:focus,
.btn:focus,
a:focus {
  outline: 3px dashed var(--highlight-color);
  outline-offset: 3px;
}

.btn {
  margin: 30px 0;
  padding: 10px 25px;
  border-radius: 4px;
  display: inline-block;
  animation: bouncy 6s infinite linear;
  position: relative;
}

.btn-primary {
  background: var(--primary-color);
}

.btn-primary:hover {
  background: var(--primary-color--dark);
}

@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

.divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: center;
}

.divider__primary {
  height: 25px;
  width: 100%;
}

.divider__primary {
  background: var(--alt-color);
}

.divider__circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: var(--alt-color);
  position: absolute;
  top: 0;
  left: calc(50% - 33px);
  border: 8px solid #fff;
}

.hidden {
  display: none !important;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 1000px) {
  html {
    --nav-padding: 2vh 8%;
    --header-padding: 0 8%;
    --section-padding: 7vh 8%;
  }
}

@media only screen and (max-width: 500px) {
  html {
    --nav-padding: 2vh 4%;
    --header-padding: 0 4%;
    --section-padding: 7vh 4%;
  }
}
